{%- block extra_form_collection_widget -%}
    {{- form_widget(form) -}}
    <script type="text/javascript">
        function getJquery(callback) {
            if (!window.jQuery) {
                var sJquery = document.createElement("script");
                sJquery.src = "{{ asset('bundles/idciextraform/js/jquery-1.11.3.min.js') }}";
                sJquery.type = "text/javascript";

                var head = document.getElementsByTagName('head')[0];
                head.parentNode.insertBefore(sJquery, head);

                sJquery.onload = sJquery.onreadystatechange = function() {
                    callback();
                }
            } else {
                callback();
            }
        };

        getJquery(function() {
            var $div = jQuery('#{{ form.vars.id }}');
            var $items = $div.find('[data-display]');
            var minItems = {{ form.vars.min_items }};
            var maxItems = {{ form.vars.max_items }};
            var countActionable = 0;
            var hasRemovedButtons = false;

            var getItemContainer = function(item) {
                var itemContainer;

                $div.children().each(function() {
                    if (jQuery(this).find(item).length !== 0) {
                        itemContainer = jQuery(this);
                    }
                });

                return itemContainer;
            };

            var showItem = function(item) {
                item.attr('data-display', 'show');

                jQuery(':disabled', item)
                    .each(function(i,e) {
                        jQuery(e)
                            .prop('disabled', false)
                            .prop('required', true)
                        ;
                    })
                ;

                getItemContainer(item).show();
                countActionable--;
            };

            var hideItem = function(item) {
                item.attr('data-display', 'hide');

                jQuery(':input', item)
                    .not(':button, :submit, :reset, :hidden')
                    .each(function(i,e) {
                        jQuery(e).val(jQuery(e).attr('value') || '')
                            .prop('checked',  false)
                            .prop('selected', false)
                            .prop('required', false)
                            .prop('disabled', true)
                            .trigger('change')
                        ;
                    })
                ;
                jQuery('option[selected]', item).prop('selected', true);
                jQuery('input[checked]',   item).prop('checked',  true);
                jQuery('textarea',         item).each(function(i,e) { jQuery(e).val(jQuery(e).html()) });

                getItemContainer(item).hide().insertBefore($addButton);
                countActionable++;
            };

            var addRemoveButton = function() {
                if (hasRemovedButtons) {
                    return;
                }

                $items.each(function() {
                    var $removeButton = jQuery('<button{%- for attrname, attrvalue in remove_button.attr %} {{ attrname }}="{{ attrvalue }}"{%- endfor -%}>{{ remove_button.label|trans }}</button>');
                    $removeButton.on('click', function(event) {
                        event.preventDefault();
                        hideItem(jQuery(this).siblings('[data-display]'));
                        initAddButton();
                    });
                    jQuery(this).after($removeButton);
                });
                hasRemovedButtons = true;
            };

            var removeRemoveButton = function() {
                if (!hasRemovedButtons) {
                    return;
                }

                $items.each(function() {
                    jQuery(this).siblings('button').remove();
                });
                hasRemovedButtons = false;
            };

            var $addButton = jQuery('<button{%- for attrname, attrvalue in add_button.attr %} {{ attrname }}="{{ attrvalue }}"{%- endfor -%}>{{ add_button.label|trans }}</button>');
            $addButton.on('click', function(event) {
                event.preventDefault();
                if (countActionable > 0) {
                    showItem($div.find('[data-display="hide"]').first());
                    initAddButton();
                }
            });

            var initAddButton = function() {
                if (countActionable > 0) {
                    $addButton.prop('disabled', false).removeClass('disabled').addClass('success');
                } else {
                    $addButton.prop('disabled', true).removeClass('success').addClass('disabled');
                }

                if (maxItems - countActionable > minItems) {
                    addRemoveButton();
                } else {
                    removeRemoveButton();
                }
            };

            // INIT
            $div.append($addButton);
            $items.each(function() {
                if (jQuery(this).data('display') == 'hide') {
                    hideItem(jQuery(this));
                }
            });
            initAddButton();
        });
    </script>
{%- endblock extra_form_collection_widget -%}

{%- block extra_form_iban_text_row -%}
    <div style="display:inline-block">
        {{- form_widget(form) -}}
    </div>
{%- endblock extra_form_iban_text_row -%}

{%- block extra_form_html_row -%}
    {{- form_widget(form) -}}
{%- endblock extra_form_html_row -%}
{%- block extra_form_html_widget -%}
    <div{% for attrname, attrvalue in attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
        {{- content | raw -}}
    </div>
{%- endblock extra_form_html_widget -%}