{%- block extra_form_collection_widget -%}
    {{- form_widget(form) -}}
    <script type="text/javascript">

        function getJquery(callback) {
            if (!window.jQuery) {
                if (!document.getElementById('idci_jquery')) {
                    var sJquery = document.createElement('script');
                    sJquery.id = 'idci_jquery';
                    sJquery.src = '{{ asset('bundles/idciextraform/js/jquery-1.11.3.min.js') }}';
                    sJquery.type = 'text/javascript';

                    var head = document.getElementsByTagName('head')[0];
                    head.appendChild(sJquery);
                } else {
                    var sJquery = document.getElementById('idci_jquery');
                }

                var onload = sJquery.onload;
                sJquery.onload = sJquery.onreadystatechange = function() {
                    if (typeof onload == 'function') {
                        onload();
                    }
                    callback(window.jQuery);
                }
            } else {
                callback(window.jQuery);
            }
        };

        getJquery(function($) {
            var collectionItemPrototype = '{{ form_row(prototype)|e('js') }}';
            var $div = $('#{{ form.vars.id }}');
            var minItems = {{ form.vars.min_items }};
            var maxItems = {{ form.vars.max_items }};
            var countActionable = 0;
            var hasRemovedButtons = false;

            var getItemContainer = function(item) {
                var itemContainer;

                $div.children().each(function() {
                    if ($(this).find(item).length !== 0) {
                        itemContainer = $(this);
                    }
                });

                return itemContainer;
            };

            var showItem = function(item) {
                item.attr('data-display', 'show');

                // Uncheck remove input
                item
                    .find('.idci_collection_item_remove')
                    .prop('checked', false)
                    .attr('checked', false)
                ;

                getItemContainer(item).show();
                countActionable--;
            };

            var hideItem = function(item) {
                item.attr('data-display', 'hide');

                // Check remove input
                item
                    .find('.idci_collection_item_remove')
                    .prop('checked', true)
                    .attr('checked', true)
                ;

                getItemContainer(item).hide().insertBefore($addButton);
                countActionable++;
            };

            var hideRemoveCheckbox = function(item) {
                var $removeCheckbox = item.find('.idci_collection_item_remove');

                $removeCheckbox.attr('style', 'display:none;');
                getItemContainer(item)
                    .find('label[for='+$removeCheckbox.attr('id')+']')
                    .attr('style', 'display:none;')
                ;
            }

            var addRemoveButtons = function() {
                if (hasRemovedButtons) {
                    return;
                }

                $div.find('[data-collection-id={{ form.vars.collection_id }}]').each(function() {
                    var $removeButton = $('<button{%- for attrname, attrvalue in remove_button.attr %} {{ attrname }}='{{ attrvalue }}'{%- endfor -%}>{{ remove_button.label|trans }}</button>');
                    $removeButton.on('click', function(event) {
                        event.preventDefault();
                        var $toDeleteItem = $(this).siblings('[data-collection-id={{ form.vars.collection_id }}][data-display]');

                        // Replace the 'to delete item' with the prototype.
                        var $toAdd = $(collectionItemPrototype.replace(
                            /__collection_item_prototype__/g,
                            $toDeleteItem.attr('data-position')
                        ));

                        var $toAddItem = $toAdd.find('[data-display='prototype']');

                        $toAddItem
                            .attr('data-display', 'show')
                            .attr('data-position', $toDeleteItem.attr('data-position'))
                        ;
                        getItemContainer($toDeleteItem).replaceWith($toAdd);
                        hideItem($toAddItem);

                        init();
                    });
                    $(this).after($removeButton);
                });
                hasRemovedButtons = true;
            };

            var removeRemoveButtons = function() {
                if (!hasRemovedButtons) {
                    return;
                }

                $div.find('[data-collection-id={{ form.vars.collection_id }}]').each(function() {
                    $(this).siblings('button').remove();
                });
                hasRemovedButtons = false;
            };

            var init = function() {
                if (countActionable > 0) {
                    $addButton.prop('disabled', false).removeClass('disabled').addClass('success');
                } else {
                    $addButton.prop('disabled', true).removeClass('success').addClass('disabled');
                }

                removeRemoveButtons();
                if (maxItems - countActionable > minItems) {
                    addRemoveButtons();
                }
            };

            // Initialize the add button.
            var $addButton = $('<button{%- for attrname, attrvalue in add_button.attr %} {{ attrname }}='{{ attrvalue }}'{%- endfor -%}>{{ add_button.label|trans }}</button>');
            $addButton.on('click', function(event) {
                event.preventDefault();
                if (countActionable > 0) {
                    var $toShow = $div.find('[data-collection-id={{ form.vars.collection_id }}][data-display=hide]').first();
                    showItem($toShow);
                    hideRemoveCheckbox($toShow);
                    init();
                }
            });
            $div.append($addButton);

            // Initialize the collection.
            $div.find('[data-collection-id={{ form.vars.collection_id }}]').each(function() {
                hideRemoveCheckbox($(this));
                if ($(this).data('display') == 'hide') {
                    hideItem($(this));
                }
            });
            init();
        });
    </script>
{%- endblock extra_form_collection_widget -%}

{%- block extra_form_iban_text_row -%}
    <div style="display:inline-block">
        {{- form_widget(form) -}}
    </div>
{%- endblock extra_form_iban_text_row -%}

{%- block extra_form_html_row -%}
    {{- form_widget(form) -}}
{%- endblock extra_form_html_row -%}
{%- block extra_form_html_widget -%}
    <div{% for attrname, attrvalue in attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
        {{- content | raw -}}
    </div>
{%- endblock extra_form_html_widget -%}

{%- block extra_form_editor_widget -%}

    <script type="text/javascript">
        var {{ form.vars.id }}_configuration = {
            api_url: {
                get_configured_extra_form_types: '{{ path('idci_extraform_api_getconfiguredextraformtypes', { '_format': 'json' }) }}',
                post_configured_extra_form_types: '{{ path('idci_extraform_api_postconfiguredextraformtypes') }}',
                put_configured_extra_form_types: '{{ path('idci_extraform_api_putconfiguredextraformtypes', { 'name': 'XNAME' }) }}',
                delete_configured_extra_form_types: '{{ path('idci_extraform_api_deleteconfiguredextraformtypes', { 'name': 'XNAME' }) }}',
                get_extra_form_type_options: '{{ path('idci_extraform_api_getextraformtypesoptions', { '_format': 'json', 'type': 'XTYPE'}) }}',
                get_extra_form_types: '{{ path('idci_extraform_api_getextraformtypes', { '_format': 'json'}) }}',
                get_extra_form_constraints: '{{ path('idci_extraform_api_getextraformconstraints', { '_format': 'json'}) }}'
            },
            allow_configured_type_edition: {{ form.vars.allow_configured_type_edition }}
        };
    </script>

    {{- form_widget(form) -}}

    <script type="text/javascript" src="{{ asset('bundles/idciextraform/js/editor/assets/vue-dev.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/idciextraform/js/editor/assets/vuex-2.1.2.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/idciextraform/js/editor/assets/sortable.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/idciextraform/js/editor/assets/vue-multiselect.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/idciextraform/js/editor/assets/vue-draggable.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/idciextraform/js/editor/assets/jquery-1.11.3.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/idciextraform/js/editor/assets/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/idciextraform/js/editor/assets/vue-resource-1.2.0.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/idciextraform/js/editor/assets/utils.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/idciextraform/js/editor/mixins/option.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/idciextraform/js/editor/mixins/http.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/idciextraform/js/editor/mixins/icon.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/idciextraform/js/editor/mixins/fields.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/idciextraform/js/editor/components/modal.vue.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/idciextraform/js/editor/components/common/options/textarea.vue.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/idciextraform/js/editor/components/common/options/choice.vue.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/idciextraform/js/editor/components/common/options/text.vue.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/idciextraform/js/editor/components/common/options/number.vue.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/idciextraform/js/editor/components/common/options/integer.vue.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/idciextraform/js/editor/components/common/options/checkbox.vue.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/idciextraform/js/editor/components/editor-simple/types-selectbox.vue.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/idciextraform/js/editor/components/editor-simple/new-field.vue.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/idciextraform/js/editor/components/editor-simple/new-field-constraint.vue.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/idciextraform/js/editor/components/editor-simple/field-options.vue.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/idciextraform/js/editor/components/editor-simple/field-constraint-options.vue.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/idciextraform/js/editor/components/editor-simple/field-constraints.vue.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/idciextraform/js/editor/components/editor-simple/field.vue.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/idciextraform/js/editor/components/editor-advanced/new-field-constraint.vue.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/idciextraform/js/editor/components/editor-advanced/field-constraint-options.vue.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/idciextraform/js/editor/components/editor-advanced/field-constraints.vue.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/idciextraform/js/editor/components/editor-advanced/field-options.vue.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/idciextraform/js/editor/components/editor-advanced/field.vue.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/idciextraform/js/editor/components/editor-advanced/extra-form-fields.vue.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/idciextraform/js/editor/components/editor-advanced/extra-form-fields-configuration.vue.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/idciextraform/js/editor/components/editor-advanced/configured-extra-form-type.vue.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/idciextraform/js/editor/components/editor-advanced/basic-extra-form-type.vue.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/idciextraform/js/editor/components/editor-advanced/extra-form-types.vue.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/idciextraform/js/editor/components/editor-simple/editor.vue.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/idciextraform/js/editor/components/editor-advanced/editor.vue.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/idciextraform/js/editor/components/editor-raw.vue.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/idciextraform/js/editor/app.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/idciextraform/js/load-editor.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/idciextraform/js/editor/ajax_overview.js') }}"></script>
{%- endblock extra_form_editor_widget -%}

{%- block extra_form_range_widget -%}
    {% set type = type|default('range') %}
    {{- block('form_widget_simple') -}}
{%- endblock extra_form_range_widget %}